:root {
  --gray: #1F1F23
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Alegreya', serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Quicksand', sans-serif;
  background-color: black;
}

aside {
  background-color: var(--gray);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
}
.app-container {
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-rows:  auto;
  min-height: 100vh;
  gap: 10px;
  color: #ffffff;
}

.game-card {

}

.game-card img {
  max-width: 100%;
  
  height: fit-content;
}
.game-card .streamName-color {
  color: white;
}
.game-card .viewers-color {
  color: gray;
  font-size: 15px;
}

.game-card .content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  height: 100%;
}

.preorder {
  border: solid 1px blue;
}

.category-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 300px 300px ;
  gap: 20px;
  padding: 20px;
}

.user-container{
  display: grid;
  grid-template-columns: 20% 47% 33%;
  background-color: var(--gray);
  height: 25px;
}

.user-container div{
  background-color: var(--gray);
}

.user-container p{
  background-color: var(--gray);
}

.user-container img {
  border-radius: 100%;
  height: 50%;
}


.live-icon-live {
  display: inline-block;
  position: relative;
  top: calc(50% - 40px);
  background-color: red;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  border: 1px solid rgba(black, 0.1);
  border-radius: 50%;
  z-index: 1;

}

.live-icon-offline {
  display: inline-block;
  position: relative;
  top: calc(50% - 40px);
  background-color: rgb(86, 83, 83);
  width: 10px;
  height: 10px;
  margin-left: 10px;
  border: 1px solid rgba(black, 0.1);
  border-radius: 50%;
  z-index: 1;

}

.live-btn-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90px;
}
.live-btn-container a{
  padding: 20px;
  text-decoration: none;
  background-color: var(--gray);
}


.label-new{
  position: relative;
  left: 120px;
  bottom: 260px;
  width: 50px;
  background-color: rgb(244, 127, 255);
  border-radius: 20%;
  text-align: center;
}